### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Build outputs ###
.gradle/
build/
**/build/
out/

### Node / frontend ###
node_modules/
frontend/dist/
frontend/node_modules/

### Misc ###
*.log

### Local secrets (DB credentials etc.) ###
/config/secret.yml